
  <div class="row">
    <%= content_tag :ul, id:  "project#{project.id}", class: "inline-list project__partial" do %>
      <div class="small-4 columns" >
        <li><h3><%=link_to project.title, user_project_path(current_user, project), id: "Plink#{project.id}" %></h3></li>
      </div>
      <div class="small-4 columns" >
      <li><%=link_to "Change Name", edit_user_project_path(current_user, project),  id: "projectTitle#{project.id}", project_id: project.id,  remote: true%></li>
      </div>
      <div class="small-4 columns" >
      <li><%= form_tag user_project_path(current_user, project), :method => :delete, id: "projectDelete#{project.id}" do %>
        <% submit_tag "Delete", data: {confirm: "Are you sure?"}, class: "button" %>
        <%end%>
      </li>
      </div>
    <% end %>
  </div>
