<h1>Your Projects</h1>
<div id="projectList">
<% if @projects != nil %>
  <% @projects.each do |project| %>
    <%= render project %>
  <%end %>
<%end%>
</div>

<h1> Add a project</h1>
<%= form_for :project, url: user_projects_path(current_user) do |f| %>
  <%= f.text_field :title, :placeholder => "Project Title" %>
  <%= f.submit %>
<% end %>

