
<div class = "row">

  <div class = "large-6 columns">
    <h4 class = "text-left">
      &nbsp;&nbsp;  &nbsp; CRUDlist enables you to keep track of your CRUD actions cleanly.
      Your home page lists all your projects, and allows you to add projects.
      You can also see the progress of your project, as well as change its name or delete it.
      When all models' CRUD actions are complete for a project, the progress becomes "done" (the green
      checkmark). 
    </h4>
  </div>
  <div class = "large-6 columns">
    <%= image_tag("HelpProjectsIndex.png") %>
  </div>
</div>

<div class = "row">
  <div class = "large-6 columns">
    <h4 class = "text-left">
      &nbsp;&nbsp;  &nbsp;Upon clicking a project name, you will be brought to the project's CRUDlist. Here,
      you can add models. Initially, each model's CRUD actions will be "not started", but
      clicking on any icon in the list will bring up a dropdown, from which you can choose 
      the status of that action. Saving is done automatically when you change a status.
      The red 'X' on the right allows you to delete a model.
    </h4>
  </div>

  <div class = "large-6 columns">
    <%= image_tag("HelpProjectShow.png") %>
  </div>

</div>
