// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project__partial{
  [id^="Plink"]{
   color: $secondary-color;
   @include vertical-align;
   margin: 0 auto;
 }
  [id^="projectTitle"]{
   @include vertical-align;
 }
 .button {
   @include vertical-align;
 }

 .project__status__image {
 }
} 



.project__index__title {
  line-height: 127px;
}

.project__change__name {
  line-height: 127px;
}

.project__delete__button {
  margin-top: 15%;
}

#project_title {
  margin-top: 20px;
}

.add__project__button {
  margin-top: 10px;
}
