// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top__right {
  padding-left: 20px;
  padding-right: 20px;
}

.flash__login__error{
  text-align: center;
  color: $primary-color;
}

.bottom {
  margin-top: 30px;

  .bottom__right__labels{
    margin-top: 40px;
  }
 }

.top__left {
  height: inherit;
  background-color: $primary-color;
}

.spacing {
  margin-bottom: 15%;
}

.top__hook {
  padding-left: 20px;
  padding-left: 20px;
}

.large {
  font-size: 4em;
}

.intro {
  color: white;
}

.login-form {
  &:focus{
    background-color:blue;
  }
}

.new_user{
  margin-top: 20px;
}



.home__button {
  margin-left: 33%;
}
